<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<form id="edit-form" th:action="@{/book/save(id=${book.id})}" th:method="post" action="editBook.html">
    <h1>Edit book info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${book.id}" value="1"/>
    </div>

    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" type="text" th:value="${book.title}" value="War&Peace"/>
    </div>

    <div class="row">
        <label for="author-input">Author:</label>
        <select th:field="${book.author.id}" id="author-input">
            <option name="author" th:each="author : ${authors}"
                    value="" th:value="${author.id}"
                    th:utext="${author.name}"></option>
        </select>
    </div>

    <div class="row">
        <label for="genre-input">Genre:</label>
        <select th:field="${book.genre.id}" id="genre-input">
            <option name="genre" th:each="genre : ${genres}"
                    value="" th:value="${genre.id}"
                    th:utext="${genre.getGenreName}"></option>
        </select>
    </div>
    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>