<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDaoBean" class="ru.otus.dao.impl.QuestionDaoImpl"/>
    <bean id="examService" class="ru.otus.service.impl.ExamServiceImpl">
        <constructor-arg name="questionDao" ref="questionDaoBean"/>
    </bean>

</beans>