<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDaoBean" class="ru.otus.dao.impl.QuestionDaoImpl">
        <constructor-arg name="resource" value="classpath:test.csv"/>
    </bean>
    <bean id="examService" class="ru.otus.service.impl.ExamServiceImpl">
        <constructor-arg name="questionDao" ref="questionDaoBean"/>
        <constructor-arg name="fileQuestionToExamQuestionConverter" ref="fileQuestionToExamQuestionConverter"/>
        <constructor-arg name="displayServiceImpl" ref="displayServiceImpl"/>
    </bean>
    <bean id="fileQuestionToExamQuestionConverter" class="ru.otus.service.impl.FileQuestionToExamQuestionConverter">
    </bean>
    <bean id="displayServiceImpl" class="ru.otus.service.impl.DisplayServiceImpl">
    </bean>

</beans>