<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new genre</title>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<form id="edit-form" onsubmit="saveGenre()" name="genre">

    <h1>Genre Info:</h1>

    <div class="row">
        <label for="genre-input">Genre:</label>
        <input id="genre-input" name="genreName" th:value="${genre.genreName}" type="text" value="Horror"/>
    </div>
    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>
<script>
    function saveGenre() {
        var data = {};
        data["genreName"] = $("#genre-input").val();

        $.ajax({
            type: 'POST',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            url: '/api/genre',
            success: function (data) {
                window.location.replace('/genre');
            }
        });
    }
</script>
</body>
</html>