<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All genres</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .genres, .genres td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<h1>List of available genres:</h1>

<table class="genres">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody id="tableGenres">
    </tbody>
</table>
<div class="row">
    <form action="/genre" method="post">
        <button type="submit" name="addNewGenre">Add new genre</button>
    </form>
    <a href="/author">
        <button>List authors</button>
    </a>
    <a href="/book">
        <button>List books</button>
    </a>
</div>
<script>
    $(listGenres);

    function listGenres() {
        $.get('/api/genre').done(function (genres) {
            genres.forEach(function (genre) {
                $('tbody').append(`
                    <tr>
                        <td>${genre.id}</td>
                        <td>${genre.genreName}</td>
                        <td>
                            <button onClick="deleteGenre('${genre.id}')">Delete</button>
                        </td>
                    </tr>
                `)
            });
        })
    }

    function deleteGenre(id) {
        $.ajax({
            url: '/api/genre/' + id,
            type: 'DELETE',
            success: function () {
                $('#tableGenres').empty()
                listGenres();
            }
        });
    }
</script>
</body>
</html>